<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceToken" value="c13iyCvmcC9mzwkLd0LCbCBHcXYD5mUA5m2jNGutNXK6NJc6NJt=" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="MapLink.RouteCalculator.Service.CalculatorService">
        <endpoint address="" binding="basicHttpBinding" contract="MapLink.RouteCalculator.Service.ICalculator" bindingNamespace="http://schemas.maplink.com.br/v1.0/RouteCalculator" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="AddressFinderSoap" />
        <binding name="RouteProximitySoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.maplink.com.br/webservices/v3/AddressFinder/AddressFinder.asmx" binding="basicHttpBinding" bindingConfiguration="AddressFinderSoap" contract="AddressFinderService.AddressFinderSoap" name="AddressFinderSoap" />
      <endpoint address="http://services.maplink.com.br/webservices/v1.1/routeproximity/routeproximity.asmx" binding="basicHttpBinding" bindingConfiguration="RouteProximitySoap" contract="RouteProximityService.RouteProximitySoap" name="RouteProximitySoap" />
    </client>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>